.top
{
    background-color:#000000 ;
    padding-top: 10;
    padding-left: 10;
    padding-bottom: 10;
    border-radius: 20px;
    -webkit-text-fill-color: #fec10f;
    font-family: 'Oswald', sans-serif;
}

.logo
{
    width: 150px; 
    height: 150px;
    border-radius: 30px;
}
.dark-mode
{
    background-color: #121212;
}
.dark_li
{
    float: right;
    margin-right: 20px;
    
}
.dark_button
{
    background-color: transparent;
    appearance: none;
    border: none;
}
.material-symbols-outlined
{
  -webkit-text-fill-color: #fec10f;
  display: inline-block;
}
body
{
    background-color: #fec10f;
}
.shop_logo
{
    background-color: #000000;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 180%;
}

.tagline
{
    border-radius: 20px;
    padding: 15px;
    margin-top: 20px;
    background-color: #000000;
    -webkit-text-fill-color: #fec10f;
    font-family:'Roboto Condensed', sans-serif;
    text-align: center;
    font-style: italic;
    
}

.shop
{
    background-color:#000000 ;
    margin-top: 10px;
    padding-top: 10;
    padding-left: 10;
    padding-bottom: 10;
    border-radius: 20px;
    -webkit-text-fill-color: #fec10f;
    font-family: 'Oswald', sans-serif;
}

.book
{
    height: 240px;
    width: 158px;
    border-radius: 30px;
}

.next-page-button
{
    display: inline-block;
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
  
.next-page-button:hover
{
    background-color: #fec10f;
}

.butt
{
    text-align: center;
  margin: 0 auto;
  width: 50%;
}
.nav
{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #000000;
    border-radius: 10px;
    margin: 10px 10px 0px 10px;
    height: 5%;
    padding: 15px 0px 0px 15px;
}
.nav li a
{
    color: #ffffff;
    margin: 10px;
    text-decoration: none;
    font-size: 1.1em;
    opacity: 0.7;
    transition: 0.5s;
}
.nav li a:hover
{
    opacity: 1;
    color: #fec10f;
}
footer
{
    background-color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 30px;
    border-radius: 20px;

}
.footerContainer
{
    
    Spadding: 70px 30px 20px;
}
.socialIcons
{
    display: flex;
    justify-content: center;
}
.socialIcons a
{
    text-decoration: none;
    padding: 10px;
    background-color: #ffffff;
    margin: 10px;
    border-radius: 15px;
}
.socialIcons a i
{
    font-size: 2em;
    color: #000000;
    opacity: 0.9;
}

.socialIcons a:hover
{
    background-color: #fec10f;
    transition: 1.5s;
}

.socialIcons a:hover i
{
    color: #ffffff;
    transition: 2s;
}

.footerNav
{
    margin: 30px 0;
}

.footerNav ul
{
    display: flex;
    justify-content: center;
}
.footerNav ul li a
{
    color: #ffffff;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover
{
    opacity: 1;
}

.footBottom
{
    background-color: #000000;
    padding: 20px;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;

}

.footBottom p
{
    color: #ffffff;
}

.designer
{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}